
<a href="card-details" style="width: 100%;">
    <MudCard Class="@(IsNormal?"" : "scrolling-card")" Style="@(IsNormal? "width: 100%; border-radius: 15px;" : "width: 280px; border-radius: 15px;")">
        <MudCardContent Class="px-0 py-0">
            <img src="@Image" style="width: 100%; height: 100%;"/>
            <div class="px-3 py-3">
                <MudText Typo="Typo.body1" Style="font-weight: 600;" Color="Color.Primary">@Title</MudText>
                <MudText Typo="Typo.caption">@SubTitle</MudText>
                </div>
        </MudCardContent>
    </MudCard>
</a>


@code {
    [Parameter] public string Image { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string SubTitle { get; set; }
    [Parameter] public bool IsNormal { get; set; }
}
